@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.dashboard{
    margin: auto;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.chat {
    height: 400px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    overflow-x: hidden; 
    overflow-x: auto; 
}

.column1{
    width: 20%;
    float: left;
    padding: 20px;
}
.column2{
    width: 70%;
    float: left;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text] {
    width: 80%;
    padding: 10px;
}

button{
    width: 20%;
    padding: 10px;
} 

.right-col {
    float: right;
    width: 10% !important;
}

.receiverMsg {
    align-self: flex-start;
    height: 20px;
    margin: 10px;
    padding: 10px; 
}

.senderMsg {
    align-self: flex-end;
    height: 20px;
    margin: 10px;
    padding: 10px;
}

.msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 20px;
    background-color:transparent;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    }
    .msg_cotainer_send{
        width: fit-content;
        width: max-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
    }
    .chatMsgRec{
    background-color: #96e1ee;
    border-radius: 25px;
    padding: 10px;
    width: max-content;
    }