@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

*{
  box-sizing: border-box;
  }
 
  body{
    background-color: #34BA96;
  }

  .wrapper {
    margin:90px 0px; 
    padding:0px;
    text-align:center;
  } 
  
  h1,h2,h3,h4,h5,h6,label,span {
    font-weight: 500;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .form {
    display: inline-block;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px 7px rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
  }
  
  .form-control {
    margin: 10px;
    padding: 10px;
    width: 90% !important;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;  
  }

  .button {
      background-color: #4c4c4c;
      color: white;
      padding: 10px 70px;
      border: none;
      opacity: 0.7;
      width: fit-content;
      border-radius: 6px;
      margin-bottom:10px;
  }

  .button:hover {
    background-color: #000000;
  }

  label{
      float: left;
      padding: 10px;
  }

  .forgotpassword text-right {
    text-align: left !important;
    display: inline;
  }

  .forgotpassword text-left {
    text-align: right !important;
    display: inline;
  }

  .nav-link{
    text-decoration: none;
  }

  .errorMessage{
    color: red;
    font-size: small;
    display: inline;
  }
